<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabric Web interface</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <style rel="stylesheet" href="static/css/style.css"></style>
</head>

<body>
    <!-- Your existing HTML content here -->
    <div class="container">
        <h1>Fabric Web Interface</h1>
        {{ block "content" . }}{{ end }}
    <!-- Custom JavaScript (only if needed) -->
    <script src="/static/js/custom.js"></script>
</body>
</html>